{% extends 'base.html.twig' %}

{# @var city \App\Entity\City #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ city.cityName }}, {{ city.country }}{% endblock %}

{% block body %}
<main>
    <h1>Weather in {{ city.cityName }}, {{ city.country }}</h1>

    <ul>
        {% for forecast in forecasts %}
            <li>{{ forecast.date|date('d.m.Y') }}: {{ forecast.temperature }}&deg;C, {{ forecast.humidity }}%, {{ forecast.pressure }} hPa, {{ forecast.description }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
